@charset "UTF-8";
/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: Roboto;
}

/*LOADER*/
.loader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  animation: loader 2s forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.load1 {
  position: absolute;
  border-top: 10px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 1.5s linear infinite;
}

.load2 {
  position: absolute;
  border-right: 10px solid #FF79DA;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 1.5s linear infinite;
}

.load3 {
  position: absolute;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* HEADER */
.logo {
  text-align: center;
  padding: 1rem;
}
.logo img {
  width: 50%;
}
@media screen and (min-width: 1025px) {
  .logo img {
    width: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    width: 30%;
  }
}

/* POSITION */
.position {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  background-color: #eaeaea;
  color: #3a3a3a;
  box-shadow: inset 0 0.2rem 0.2rem #d5d5d5;
}
.position i {
  padding-right: 1rem;
}

/* ACCUEIL */
.accueil {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1rem;
}
.accueil h1 {
  margin: 2rem 2rem 0.8rem 2rem;
}
.accueil p {
  font-size: 1.2rem;
  color: #858585;
  margin-bottom: 2rem;
}
.accueil a {
  display: block;
  width: 12rem;
  text-decoration: none;
  color: #f9ecfa;
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  box-shadow: 2px 3px 11px #C5C0C3;
  margin: auto;
  margin-bottom: 2.5rem;
  padding: 1rem 1rem 1rem 1rem;
}
.accueil a:hover {
  background-image: linear-gradient(#ff99e2, #a073d8);
  box-shadow: 2px 3px 11px #5a5859;
}

/* FONCTIONNEMENT */
.bloc_fonctionnement {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.bloc_fonctionnement h2 {
  margin: 3rem 0rem 2rem 1.5rem;
}
@media screen and (min-width: 1025px) {
  .bloc_fonctionnement h2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bloc_fonctionnement h2 {
    text-align: center;
  }
}
.bloc_fonctionnement li {
  width: 80%;
  margin-left: 2.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 1.4rem 1.4rem 1.4rem 0;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 2px 3px 11px #C5C0C3;
}
.bloc_fonctionnement li h3 {
  margin-left: 0.6rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bloc_fonctionnement li {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bloc_fonctionnement {
    margin-bottom: 2rem;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  counter-reset: repas;
  /* on initialise et nomme un compteur */
}
.fonctionnement__menu {
  display: flex;
  list-style-type: none;
  counter-increment: repas;
  /* on incrémente le compteur à chaque nouveau li */
}
.fonctionnement__menu:before {
  content: counter(repas);
  /* on affiche le compteur */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-right: 1.2rem;
  margin-left: -0.7rem;
  vertical-align: top;
  background: #9356DC;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}
.fonctionnement__menu:hover {
  background-color: #eadff7;
}
.fonctionnement__menu:hover .fas {
  color: #9356DC;
}
@media screen and (min-width: 1025px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-bottom: -2rem;
  }
}

.icon {
  padding: 5px 20px 5px 5px;
  color: #7e7e7e;
}

/* RESTAURANTS */
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 2.8rem;
}
.restaurants h2 {
  padding: 3rem 0rem 1.3rem 1.5rem;
}
.restaurants__affiches a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1025px) {
  .restaurants {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    text-align: center;
  }
}

.restaurants__affiche {
  position: relative;
  width: 90%;
  margin: auto;
  height: 25%;
  margin-bottom: 1.2rem;
  box-shadow: 2px 3px 11px #C5C0C3;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.restaurants__affiche__description {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.restaurants__affiche__description p {
  font-size: 1.1rem;
  color: #404040;
  margin-top: 0.2rem;
}
.restaurants__affiche i {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
}
@media screen and (min-width: 1025px) {
  .restaurants__affiche {
    width: 20rem;
    height: 16rem;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__affiche {
    width: 20rem;
    height: auto;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

.restaurants__affiche__img {
  width: 100%;
  height: 11rem;
}

.restaurants img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.restaurants__affiche__img p {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
  background-color: #99E2D0;
  color: #078b6b;
  border-radius: 0.1rem;
  text-align: center;
  padding: 0.4rem;
  width: 4rem;
}

@media screen and (min-width: 1025px) {
  .restaurants__affiches {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__affiches {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .col1, .col2 {
    display: flex;
  }
}

/* FOOTER */
footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
footer p {
  font-family: "Shrikhand";
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1025px) {
  footer ul {
    display: flex;
  }
}
footer li {
  list-style: none;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 1025px) {
  footer li {
    margin-left: 3rem;
    margin-right: 2rem;
  }
}
footer .fa-utensils {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}
footer .fa-hands-helping {
  font-size: 0.6rem;
  margin-right: 0.2rem;
}
@media screen and (min-width: 1025px) {
  footer {
    display: flex;
    justify-content: center;
  }
}

/* AUTRES RESTAURANTS */
/* ANIMATION COEUR */
.fa-heart {
  display: flex;
  font-size: 3em;
  color: transparent;
  -webkit-text-stroke: 1px black;
  opacity: 0.3;
}

.fa-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.logo_restau {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1rem;
}
.logo_restau i {
  font-size: 1rem;
  color: #353535;
  margin-left: 1rem;
  margin-right: 5rem;
}
.logo_restau i:hover {
  transform: scale(1.5);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo_restau i {
    margin-left: 1rem;
    margin-right: 0;
  }
}
.logo_restau img {
  width: 45%;
}
@media screen and (min-width: 1025px) {
  .logo_restau img {
    width: 20%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo_restau img {
    margin: auto;
  }
}

@media screen and (min-width: 1025px) {
  .img_restau {
    text-align: center;
  }
}
.img_restau img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1025px) {
  .img_restau img {
    height: 20rem;
    object-fit: cover;
  }
}

.img_restau2 img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .img_restau2 img {
    height: 20rem;
    object-fit: cover;
  }
}

.carte {
  transform: translateY(-3.5rem);
  background-color: #f6f6f6;
  padding: 1rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-bottom: -3.5rem;
}
.carte a {
  text-decoration: none;
  color: black;
}
.carte_menu {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1025px) {
  .carte_menu {
    width: 28%;
  }
}
.carte_menu_plat1, .carte_menu_plat2, .carte_menu_plat3, .carte_menu_plat4 {
  background-color: white;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.8rem;
  margin: auto;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
}
.carte_menu_plat1 h3, .carte_menu_plat2 h3, .carte_menu_plat3 h3, .carte_menu_plat4 h3 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.carte_menu_plat1 span, .carte_menu_plat2 span, .carte_menu_plat3 span, .carte_menu_plat4 span {
  font-size: 0.8rem;
  color: #686868;
}
.carte_menu_plat1 .info, .carte_menu_plat2 .info, .carte_menu_plat3 .info, .carte_menu_plat4 .info {
  display: flex;
  justify-content: space-between;
}
.carte_menu_plat1 .info strong, .carte_menu_plat2 .info strong, .carte_menu_plat3 .info strong, .carte_menu_plat4 .info strong {
  color: black;
}
.carte_menu_plat1 .checkbox, .carte_menu_plat2 .checkbox, .carte_menu_plat3 .checkbox, .carte_menu_plat4 .checkbox {
  background-color: #99E2D0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte_menu_plat1 .checkbox i, .carte_menu_plat2 .checkbox i, .carte_menu_plat3 .checkbox i, .carte_menu_plat4 .checkbox i {
  color: white;
  font-size: 1.5rem;
}
.carte_menu_plat1 {
  animation: defilement 1.5s backwards;
}
.carte_menu_plat2 {
  animation: defilement 1.5s 0.2s backwards;
}
.carte_menu_plat3 {
  animation: defilement 1.5s 0.4s backwards;
}
.carte_menu_plat4 {
  animation: defilement 1.5s 0.6s backwards;
}
.carte_menu h2 {
  width: 2.5rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #848484;
  font-weight: normal;
  border-bottom: 0.2rem solid #99E2D0;
}

@keyframes defilement {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1025px) {
  .menus {
    display: flex;
    justify-content: space-around;
  }
}

.nom_restau {
  display: flex;
  align-items: center;
  font-family: Shrikhand;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.nom_restau h1 {
  margin-right: 2.5rem;
}
.nom_restau i {
  font-size: 1.5rem;
}
@media screen and (min-width: 1025px) {
  .nom_restau {
    justify-content: center;
  }
}

.btn a {
  display: block;
  width: 9rem;
  text-decoration: none;
  color: #f9ecfa;
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  box-shadow: 2px 3px 11px #C5C0C3;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  padding: 1rem 1rem 1rem 1rem;
}

.btn a:hover {
  background-image: linear-gradient(#ff99e2, #a073d8);
  box-shadow: 2px 3px 11px #5a5859;
}

/*# sourceMappingURL=styles.css.map */
