/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: Roboto;
}

/* HEADER */

.logo{
    text-align: center;
    padding: 1rem;
    img{
        width: 50%;
    }
}

/* POSITION */

.position{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    background-color: #eaeaea;
    color: #3a3a3a;
    i{
        padding-right: 1rem;
    }
}

/* ACCUEIL */

.accueil{
    text-align: center;
    background-color: #f6f6f6;
    padding: 1rem;
    h1{
        margin: 2rem 2rem 0.8rem 2rem;
    }
    p{
        font-size: 1.2rem;
        color: #858585;
        margin-bottom: 2rem;
    }
    a{
        display: block;
        width: 12rem;
        text-decoration: none;
        color: #f9ecfa;
        font-size: 1rem;
        text-align: center;
        background-image: linear-gradient(#ff79da, #9356DC);
        border-radius: 2rem;
        box-shadow: 2px 3px 11px  #C5C0C3;
        margin: auto;
        margin-bottom: 2.5rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}

/* FONCTIONNEMENT */

.fonctionnement{
    li::marker{
        display: block;
        background-color: #9356DC;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    margin-bottom: 4rem;
    h2{
        margin: 3rem 0rem 2rem 1.5rem;
    }
    li{
        width: 70%;
        margin: auto;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: #f6f6f6;
        padding: 1.7rem;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: 2px 3px 11px  #C5C0C3;

        i{
            margin-right: 1.8rem;
            margin-left: 0.8rem;
            font-size: 1.2rem;
            color: #7e7e7e;
        }
    }
}

/* RESTAURANTS */

.restaurants{
    background-color: #f6f6f6;
    padding-bottom: 2.8rem;
    h2{
        padding: 3rem 0rem 1.3rem 1.5rem;}
    }
.restaurants__affiche{
    position: relative;
    width: 90%;
    margin: auto;
    height: 25%;
    margin-bottom: 1.2rem;
    box-shadow: 2px 3px 11px  #C5C0C3;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    &__description{
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        p{
            font-size: 1.1rem;
            color: #404040;
            margin-top: 0.2rem;
        }
    }
    i{
        font-size: 1.5rem;
        margin-right: 0.8rem;
        margin-top: 0.4rem;
    }
}
.restaurants img{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.restaurants__affiche__img p{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    background-color: #99E2D0;
    color: #078b6b;
    border-radius: 0.1rem;
    text-align: center;
    padding: 0.4rem;
    width: 4rem;

}

    /* FOOTER */

    footer{
        background-color: #353535;
        color: white;
        padding: 1.5rem;
        h3{
            font-family: 'Shrikhand';
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }
        a{
            text-decoration: none;
            color: white;
        }
        li{
            list-style: none;
            margin-bottom: 0.6rem;
        }
        .fa-utensils{
            font-size: 0.8rem;
            margin-right: 0.3rem;
        }
        .fa-hands-helping{
            font-size: 0.6rem;
            margin-right: 0.2rem;
        }
    }